# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
atlassian-ide-plugin.xml

# Mac
.DS_Store


# OLD ANT
bin
build
build-dist
build.properties

# MISC
working-dir
classes/
gradlew*
gradle/
.gradle
target/